*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(Img/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nav{
    display: flex;
    padding: 45px 120px;
}
.logo h2{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
}
.menu{
    flex: 2;
}
.menu ul{
    margin-left: 250px;
    display: inline;
}
.menu ul li{
    display: inline-block;
    list-style-type: none;
    padding: 10px 30px;
}
.menu ul a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1px;
}
.menu ul li::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    margin: auto;
    background-color: white;
    transition: .4s;
}
.menu ul li:hover::after{
    width: 100%;
}
